@font-face {
  font-family: "plex";
  font-weight: 300;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/IBMPlexSansLight.woff2") format("woff2"),
    url("../fonts/IBMPlexSansLight.woff") format("woff");
}

@font-face {
  font-family: "plex";
  font-weight: 300;
  font-display: fallback;
  font-style: italic;
  src:
    url("../fonts/IBMPlexSansLightItalic.woff2") format("woff2"),
    url("../fonts/IBMPlexSansLightItalic.woff") format("woff");
}

@font-face {
  font-family: "plex";
  font-weight: 600;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/IBMPlexSansSemiBold.woff2") format("woff2"),
    url("../fonts/IBMPlexSansSemiBold.woff") format("woff");
}

@font-face {
  font-family: "plex";
  font-weight: 600;
  font-display: fallback;
  font-style: italic;
  src:
    url("../fonts/IBMPlexSansSemiBoldItalic.woff2") format("woff2"),
    url("../fonts/IBMPlexSansSemiBoldItalic.woff") format("woff");
}
