body {
  color: var(--color-black);
  font-family: "plex", "Arial", sans-serif;
  font-size: var(--font-size-basic);
  line-height: var(--font-line-basic);
  letter-spacing: var(--font-letter-spacing-basic);
  font-weight: var(--font-weight-basic);

  border: var(--body-border-width) solid var(--color-blue);

  @media (--mobileMax) {
    border: 7px solid var(--color-blue);
  }
}

body.overflow {
  @media (--desktopMin) {
    overflow: hidden;
    background-color: var(--color-blue);
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  width: 1134px;

  @media (--desktopMin) {
    box-sizing: border-box;
    padding: 0 80px;
    width: 100%;
  }

  @media (--tabletMax) {
    padding: 0 40px;
  }

  @media (--mobileMax) {
    padding: 0 23px;
  }
}

.content-wrapper {
  width: 939px;

  @media (--desktopMin) {
    width: 100%;
  }
}
