.text-components .text-components__wrapper {
  padding: 30px;
  padding-top: 100px;
}

.text-components .text-components__outline {
  padding: 10px 0;
  border-bottom: 1px solid #ff00dc;
}

/* Titles */
.text-components h1 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: var(--color-blue);
}

.text-components h2 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: black;
}

.text-components h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.15px;
  color: black;
}

.text-components h4 {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0;
  color: black;
}

.text-components h5,
.text-components h6 {
  margin: 0;
}

/* Paragraphs */
.text-components p {
  font-weight: 300;
}

.text-components .paragraph--large {
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.text-components .paragraph--regular {
  font-size: 15px;
  line-height: 21px;
  color: black;
}

.text-components .paragraph--small {
  font-size: 15px;
  line-height: 21px;
  color: black;
}

/* Blockquote */
.text-components blockquote {
  font-size: 18px;
  line-height: 24px;
  color: white;
  background-color: var(--color-blue);
}

/* Lists */
.text-components ol,
.text-components ul {
  padding: 0;
  list-style: none;
}

.text-components li {
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: -0.1px;
  color: black;
}

.text-components ul li,
.text-components ol li {
  position: relative;
  padding-left: 28px;
}

.text-components ul li::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--color-blue);
  top: 50%;
  left: 0;
}

.text-components ol {
  list-style-type: none;
  counter-reset: num;
}

.text-components ol li::before {
  position: absolute;
  width: 20px;
  left: 0;
  font-family: "plex", "Arial", sans-serif;
  font-weight: 300;
  content: counter(num) ". ";
  counter-increment: num;
  color: var(--color-blue);
}

.text-components .text-right {
  text-align: right;
}

@media (min-width: 1024px) {
  .text-components .text-components__outline {
    padding: 25px 0;
    border-bottom: 1px solid #ff00dc;
  }

  .text-components .text-components__wrapper {
    max-width: 840px;
    margin: 0 auto;
  }

  /* Titles */
  .text-components h1 {
    font-size: 54px;
    line-height: 57px;
    letter-spacing: 1px;
  }

  .text-components h2 {
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
  }

  .text-components h3 {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.94px;
  }

  .text-components h4 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.1px;
  }

  .text-components h5 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  }

  /* Paragraphs */
  .text-components p {
    font-weight: 300;
  }

  .text-components .paragraph--large {
    font-size: 24px;
    line-height: 32px;
  }

  .text-components .paragraph--regular {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 26px;
  }

  .text-components .paragraph--small {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 26px;
  }

  /* Blockquote */
  .text-components blockquote {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
  }


  .text-components li {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
}
