:root {
  --color-blue: #2c39f2;
  --color-red: #ff1553;
  --color-black: #000000;
  --color-black-light: #282828;
  --color-white: #ffffff;
  --color-gray: #f7f7f7;
  --color-pink: #ff1553;

  --font-size-basic: 18px;
  --font-line-basic: 26px;
  --font-letter-spacing-basic: -0.1px;
  --font-weight-basic: 200;

  --body-border-width: 8px;
  --set-font-family-plex: "plex", "Arial", sans-serif;
}

@custom-media --desktopMax (max-width: 1919px);
@custom-media --desktopMin (max-width: 1365px);
@custom-media --tabletMax (max-width: 1023px);
@custom-media --mobileMax (max-width: 767px);
@custom-media --retinadpi (min-resolution: 144dpi);
@custom-media --retinadppx (min-resolution: 1.5dppx);

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
