.advantages {
  color: var(--color-white);

  background-color: var(--color-blue);
  background-image: linear-gradient(to right, var(--color-blue) 0%, var(--color-blue) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  @media (--mobileMax) {
    background-color: var(--color-blue);
    background-image: none;
  }
}

.advantages__wrapper {
  display: flex;

  @media (--mobileMax) {
    flex-direction: column;
    padding-left: 23px;
    padding-right: 23px;
  }
}

.advantages__tabs {
  display: flex;
  align-items: center;

  @media (--mobileMax) {
    display: block;
  }
}

.advantages__tab-controls {
  width: 100%;
}

.advantages__tab-list {
  flex: none;
  width: calc(50% - 200px);

  @media (--desktopMin) {
    width: calc(50% - 80px);
  }

  @media (--mobileMax) {
    width: 100%;
  }
}

.advantages__col {
  flex: none;
  display: flex;
  justify-content: flex-end;
  width: calc(50% + 200px);
  padding-top: 85px;
  padding-bottom: 140px;

  background-color: var(--color-blue);

  @media (--desktopMin) {
    width: calc(50% + 80px);
    padding-top: 58px;
    padding-bottom: 133px;

    box-sizing: border-box;
  }

  @media (--tabletMax) {
    padding-left: 80px;
  }

  @media (--mobileMax) {
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 33px;
    width: 100%;
  }
}

.advantages__col-inner {
  width: 100%;
  max-width: 574px;

  @media (--desktopMin) {
    max-width: 460px;
  }

  @media (--mobileMax) {
    max-width: 100%;
  }
}

.advantages__label {
  margin: 0;
  margin-bottom: 4px;

  font-size: 30px;
  font-weight: 300;
  line-height: 32px;

  @media (--desktopMin) {
    margin-bottom: 0;
  }

  @media (--mobileMax) {
    margin-bottom: 2px;

    font-size: 20px;
    line-height: 24px;
  }
}
