.advantage-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--color-red);

  @media (--tabletMax) {
    min-height: 400px;
  }

  @media (--mobileMax) {
    padding: 0;
    min-height: 100px;
  }
}

.advantage-tab__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (--mobileMax) {
    display: none;
  }
}

.advantage-tab__bg::before,
.advantage-tab__bg::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.6s ease;
  background-repeat: repeat;
  background-size: auto;
  overflow: hidden;
}

.advantage-tab__bg::before {
  top: 0;
}

.advantage-tab__bg::after {
  top: 50%;
}

.advantage-tab.active .advantage-tab__bg::before,
.advantage-tab.active .advantage-tab__bg::after {
  height: 50%;
}

.advantage-tab:nth-child(1) .advantage-tab__bg::before {
  background-image: url("../img/pattern1_top.png");
  background-size: 204px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern1_top@2x.png");
  }
}

.advantage-tab:nth-child(1) .advantage-tab__bg::after {
  background-image: url("../img/pattern1_bottom.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern1_bottom@2x.png");
  }
}

.advantage-tab:nth-child(2) .advantage-tab__bg::before {
  background-image: url("../img/pattern2_top.png");
  background-size: 204px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern2_top@2x.png");
  }
}

.advantage-tab:nth-child(2) .advantage-tab__bg::after {
  background-image: url("../img/pattern2_bottom.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern2_bottom@2x.png");
  }
}

.advantage-tab:nth-child(3) .advantage-tab__bg::before {
  background-image: url("../img/pattern3_top.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern3_top@2x.png");
  }
}

.advantage-tab:nth-child(3) .advantage-tab__bg::after {
  background-image: url("../img/pattern3_bottom.png");
  background-size: 204px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern3_bottom@2x.png");
  }
}

.advantage-tab:nth-child(4) .advantage-tab__bg::before {
  background-image: url("../img/pattern4_top.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern4_top@2x.png");
  }
}

.advantage-tab:nth-child(4) .advantage-tab__bg::after {
  background-image: url("../img/pattern4_bottom.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern4_bottom@2x.png");
  }
}

.advantage-tab:nth-child(5) .advantage-tab__bg::before {
  background-image: url("../img/pattern5_top.png");
  background-size: 190px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern5_top@2x.png");
  }
}

.advantage-tab:nth-child(5) .advantage-tab__bg::after {
  background-image: url("../img/pattern5_bottom.png");
  background-size: 204px auto;

  @media (--retinadpi), (--retinadppx) {
    background-image: url("../img/pattern5_bottom@2x.png");
  }
}

.advantage-tab__inner {
  position: relative;
  width: 100%;
  max-width: 370px;
  min-height: 454px;
  padding: 72px 50px 50px 0;

  background-color: var(--color-blue);

  box-sizing: border-box;

  @media (--desktopMin) {
    max-width: 345px;
  }

  @media (--mobileMax) {
    max-width: 100%;
    min-height: 50px;

    padding: 0;
    padding-right: 20px;
  }
}

.advantage-tab__icon {
  margin-bottom: 25px;

  @media (--desktopMin) {
    margin-bottom: 18px;
    margin-left: 9px;
  }

  @media (--mobileMax) {
    margin-bottom: 14px;
  }
}

.advantage-tab__icon svg {
  display: block;
}

.advantage-tab p {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 32px;

  @media (--tabletMax) {
    font-size: 22px;
    line-height: 28px;
  }

  @media (--mobileMax) {
    margin-bottom: 8px;

    font-size: 15px;
    line-height: 21px;
  }
}
