.clients-slider-wrapper {
  padding-bottom: 135px;

  overflow: hidden;

  @media (--desktopMin) {
    padding-bottom: 110px;
  }
}

.clients-slider.swiper-container {
  width: 227px;
  margin: 0;

  overflow: visible;

  @media (--desktopMin) {
    width: 190px;
  }
}
