.client-slide {
  z-index: 1;

  display: flex;

  pointer-events: all;
}

.client-slide--shishki .client-slide__image {
  padding-right: 10px;
}

.client-slide--cubeline .client-slide__image {
  bottom: -10px;
}

.client-slide__image {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 81px;
  margin-right: auto;
  padding-bottom: 16px;
  opacity: 0.8;

  transition: opacity 0.3s ease;

  box-sizing: border-box;
  cursor: pointer;

  @media (--desktopMax) {
    min-height: 78px;
  }

  @media (--mobileMax) {
    min-height: 61px;
    padding-bottom: 12px;
  }
}

.client-slide__image:hover {
  opacity: 1;
}

.client-slide__image::before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;

  height: 6px;

  background-color: var(--color-red);

  transition: right 0.3s ease;

  @media (--mobileMax) {
    height: 4px;
  }
}

.client-slide.swiper-slide-active .client-slide__image::before {
  right: 0;
}

.client-slide__image img {
  display: block;
}
