.features-list {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;

  list-style: none;

  @media (--mobileMax) {
    display: block;
    font-size: 15px;
    line-height: 21px;
  }
}

.features-list__item {
  max-width: 420px;

  margin-right: auto;
  margin-bottom: 40px;

  @media (--desktopMin) {
    max-width: 50%;
    padding-right: 55px;

    box-sizing: border-box;
  }

  @media (--mobileMax) {
    max-width: 100%;
    margin-bottom: 25px;
    padding-right: 12px;
  }
}

.features-list__item:nth-child(even) {
  margin-right: 0;
}

.features-list__slogan {
  margin: 0 0 11px;

  font-weight: 600;

  @media (--mobileMax) {
    margin-bottom: 8px;
  }
}

.features-list__descr {
  margin: 0;
}
