.header {
  position: absolute;
  top: 0;
  right: 8px;
  left: 8px;
  z-index: 11;

  border-top: var(--body-border-width) solid var(--color-blue);

  @media (--mobileMax) {
    right: 7px;
    left: 7px;

    border-top-width: 7px;
  }
}

.header.fixed {
  position: fixed;

  @media (--desktopMin) {
    z-index: 20000;
  }
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 13px 18px;

  @media (--desktopMin) {
    padding: 8px 11px;
    padding-left: 68px;
  }

  @media (--mobileMax) {
    padding: 6px 7px;
    padding-left: 49px;
  }
}

.header__btn {
  min-width: 172px;
  padding: 11px 17px 14px 17px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;

  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;

  box-sizing: border-box;

  @media (--mobileMax) {
    min-width: 160px;
    padding: 6px 10px 10px;
  }
}

.header__logo {
  margin-left: auto;

  opacity: 0;

  transition: opacity 0.3s ease;

  pointer-events: none;

  @media (--mobileMax) {
    height: 36px;

    transform: scale(0.8, 0.8);
    transform-origin: top right;
  }
}

.header__logo svg {
  display: block;
  width: 40px;
  height: 51px;

  fill: var(--color-blue);
}

.header__logo svg .letter {
  fill: var(--color-white);
}

.header__logo-icon .logo-shield {
  fill: var(--color-blue);

  transition: fill 0.3s ease;
}

.header__logo:hover .logo-shield {
  fill: var(--color-pink);
}

.header.link-color-projects,
.header.link-color-advantages {
  border-color: var(--color-white);
}

.header.link-color-projects.menu-opened,
.header.link-color-advantages.menu-opened {
  left: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
  border-color: var(--color-blue);

  @media (--mobileMax) {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.header.link-color-projects .header__logo,
.header.link-color-advantages .header__logo,
.header.link-color-team .header__logo,
.header.link-color-reviews .header__logo,
.header.link-color-contacts .header__logo,
.header--inner .header__logo {
  opacity: 1;

  pointer-events: initial;
}

.header.link-color-projects .logo-shield,
.header.link-color-advantages .logo-shield,
.header.link-color-contacts .logo-shield {
  fill: var(--color-white);
}

.header.link-color-contacts .logo-shield {
  @media (--desktopMin) {
    fill: var(--color-blue);
  }
}

.header.link-color-projects .letter,
.header.link-color-advantages .letter,
.header.link-color-contacts .letter {
  fill: var(--color-blue);
}

.header.link-color-contacts .letter {
  @media (--desktopMin) {
    fill: var(--color-white);
  }
}

.header.link-color-projects .header__btn,
.header.link-color-advantages .header__btn {
  color: var(--color-blue);

  background-color: var(--color-white);

  @media (--desktopMin) {
    opacity: 0;

    pointer-events: none;
  }
}

.header.link-color-contacts .header__btn {
  opacity: 0;

  pointer-events: none;
}

.header.link-color-projects .header__btn:hover,
.header.link-color-advantages .header__btn:hover {
  color: var(--color-white);

  background-color: var(--color-red);
}

.header.link-color-projects.menu-opened .header__btn,
.header.link-color-advantages.menu-opened .header__btn {
  @media (--desktopMin) {
    opacity: 1;

    pointer-events: initial;
  }
}

.header .header__btn {
  @media (--desktopMin) {
    opacity: 0;

    pointer-events: none;
  }
}

.header.link-color-top .header__btn,
.header.link-color-work.menu-opened .header__btn,
.header.link-color-team.menu-opened .header__btn,
.header.link-color-contacts.menu-opened .header__btn,
.header.link-color-reviews.menu-opened .header__btn {
  @media (--desktopMin) {
    opacity: 1;

    pointer-events: initial;
  }
}

.header.link-color-work .header__logo {
  opacity: 1;

  pointer-events: initial;
}

.header.link-color-work .logo-shield {
  fill: var(--color-blue);
}

.header.link-color-work .letter {
  fill: var(--color-white);
}

.header.menu-opened {
  position: fixed;
  min-height: 100vh;

  background-color: var(--color-blue);

  overflow: hidden;
}

.header.menu-opened .header__btn {
  color: var(--color-blue);

  background-color: var(--color-white);
}

.header.menu-opened .header__logo {
  opacity: 1;

  pointer-events: initial;
}

.header.menu-opened .header__logo .logo-shield {
  fill: var(--color-white);
}

.header.menu-opened .header__logo .letter {
  fill: var(--color-blue);
}
