.header {
  position: fixed;
  top: 0;
  left: 8px;
  right: 8px;
  background-color: var(--color-white);
  border-top: var(--body-border-width) solid var(--color-blue);
  z-index: 11;
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 13px 18px;

  @media (--desktopMin) {
    padding: 8px 11px;
    padding-left: 68px;
  }
}

.header__btn {
  box-sizing: border-box;
  padding: 11px 17px 14px 17px;
  min-width: 172px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.header__logo {
  margin-left: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.header__logo svg {
  display: block;
  width: 40px;
  height: 51px;
  fill: var(--color-blue);
}

.header__logo svg .letter {
  fill: var(--color-white);
}

.header__logo-icon .logo-shield {
  fill: var(--color-blue);
  transition: fill 0.3s ease;
}

.header__logo:hover .logo-shield {
  fill: var(--color-pink);
}

.header.full .header__logo {
  opacity: 1;
  pointer-events: initial;
}

.header.full .header__btn {
  @media (--desktopMin) {
    opacity: 0;
    pointer-events: none;
  }
}

.header.full.menu-opened .header__btn {
  @media (--desktopMin) {
    opacity: 1;
    pointer-events: initial;
  }
}

.header.dark,
.header.dark .header__btn {
  background-color: transparent;
}

.header.menu-opened {
  background-color: var(--color-blue);
}

.header.menu-opened .header__btn {
  color: var(--color-blue);
  background-color: var(--color-white);
}

.header.menu-opened .header__logo {
  opacity: 1;
}

.header.menu-opened .header__logo svg {
  fill: var(--color-white);
}

.header.menu-opened .header__logo svg .letter {
  fill: var(--color-blue);
}
