.intro {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 135px;

  box-sizing: border-box;
  min-height: 100vh;

  @media (--desktopMin) {
    padding-top: 127px;
    padding-bottom: 102px;
  }

  @media (--mobileMax) {
    padding-top: 105px;
    padding-bottom: 62px;
  }
}

.intro__wrapper {
  justify-content: center;
  width: 1013px;
  margin: 0 auto;
  padding-left: 80px;

  box-sizing: border-box;

  @media (--desktopMin) {
    width: 100%;
  }

  @media (--tabletMax) {
    padding-left: 40px;
  }

  @media (--mobileMax) {
    padding-left: 23px;
  }
}

.intro__content-block {
  padding-left: 54px;

  @media (--desktopMax) {
    padding-left: 62px;
  }

  @media (--desktopMin) {
    padding-left: 52px;
  }

  @media (--tabletMax) {
    padding-left: 30px;
  }

  @media (--mobileMax) {
    padding-left: 0;
  }
}

.intro__headline {
  margin: 0 0 30px;

  @media (--desktopMin) {
    margin-bottom: 20px;
  }
}

.intro__headline svg {
  display: block;
}

.intro__title {
  max-width: 615px;
  margin: 0 0 40px;

  font-size: 54px;
  font-weight: 300;
  line-height: 57px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--color-blue);

  @media (--desktopMin) {
    max-width: 590px;
    margin-bottom: 60px;

    font-size: 50px;
    line-height: 52px;
  }

  @media (--mobileMax) {
    margin-bottom: 24px;

    font-size: 24px;
    line-height: 28px;
  }
}

.intro__slogan {
  max-width: 650px;
  margin: 0 0 60px;

  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.05px;

  @media (--desktopMin) {
    margin-bottom: 55px;
  }

  @media (--mobileMax) {
    margin-bottom: 35px;

    font-size: 18px;
    line-height: 24px;
  }
}

.intro__slogan a {
  color: var(--color-blue);

  transition: all 0.3s ease;
}

.intro__slogan a:hover {
  text-decoration: underline;
  color: var(--color-red);
}

.intro__video {
  margin-right: 80px;
  margin-bottom: 56px;

  @media (--desktopMin) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 53px;
  }

  @media (--mobileMax) {
    margin-bottom: 34px;
  }
}

.intro__features {
  margin-bottom: 50px;

  @media (--desktopMin) {
    margin-bottom: 22px;
  }

  @media (--mobileMax) {
    margin-bottom: 30px;
  }
}
