.main-nav {
  position: fixed;
  left: 8px;
  bottom: 18px;
  z-index: 100;
  box-sizing: border-box;

  @media (--desktopMin) {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
  }

  @media (--mobileMax) {
    top: 55px;
  }
}

.main-nav.fixed {
  position: fixed;
}

.main-nav__wrapper {
  transition: transform 0.3s ease;

  @media (--desktopMin) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(-100%);
    height: calc(100vh - 75px);
    background-color: var(--color-blue);
  }

  @media (--mobileMax) {
    height: calc(100vh - 55px);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.child-menu {
  position: absolute;
}

.main-nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  font-size: 18px;
  line-height: 32px;
  color: var(--color-black);
  transition: color 0.3s ease;

  @media (--desktopMin) {
    font-size: 24px;
    line-height: 41px;
    color: var(--color-white);
  }

  @media (--mobileMax) {
    font-size: 20px;
    line-height: 37px;
  }
}

.main-nav__telephone.link-color-projects,
.main-nav__telephone.link-color-advantages,
.main-nav__telephone.link-color-contacts,
.main-nav__link.link-color-projects,
.main-nav__link.active.link-color-projects,
.main-nav__link.link-color-advantages,
.main-nav__link.active.link-color-advantages,
.main-nav__link.link-color-contacts,
.main-nav__link.active.link-color-contacts {
  color: var(--color-white);
}

.main-nav__link.link-color-projects::before,
.main-nav__link.link-color-advantages::before,
.main-nav__link.link-color-contacts::before {
  background-color: var(--color-white);
}

.main-nav__telephone.link-color-work,
.main-nav__telephone.link-color-top,
.main-nav__telephone.link-color-team,
.main-nav__telephone.link-color-reviews,
.main-nav__link.link-color-work,
.main-nav__link.link-color-top,
.main-nav__link.link-color-team,
.main-nav__link.link-color-reviews {
  color: var(--color-black);

  @media (--desktopMin) {
    color: var(--color-white);
  }
}

.main-nav__link.link-color-work::before,
.main-nav__link.link-color-top::before,
.main-nav__link.link-color-team::before,
.main-nav__link.link-color-reviews::before {
  background-color: var(--color-blue);
}

.main-nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  opacity: 0;
  transition: opacity 0.3s ease;

  @media (--desktopMin) {
    display: none;
  }
}

.main-nav__link.active {
  font-weight: 600;
  color: var(--color-blue);

  @media (--desktopMin) {
    color: var(--color-white);
  }
}

.main-nav__link.active::before {
  opacity: 1;
}

.main-nav__telephone {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  padding-left: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: var(--color-black);
  letter-spacing: -0.5px;

  @media (--desktopMin) {
    margin-bottom: 15px;
    font-size: 24px;
    left: 33px;
    color: var(--color-white);
  }

  @media (--mobileMax) {
    font-size: 20px;
    line-height: 33px;
  }
}

.main-nav.dark .main-nav__link,
.main-nav.dark .main-nav__link.active,
.main-nav.dark .main-nav__telephone {
  color: var(--color-white);
}

.main-nav.opened {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  bottom: 0;
  pointer-events: initial;
  z-index: 10001;
  overflow: hidden;
}

.main-nav.opened .main-nav__wrapper {
  transform: translateX(0);
  flex-grow: 1;
  overflow-y: scroll;
}
