.page-footer {
  background-color: var(--color-black);
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 57px 23px 22px 21px;
}

.page-footer__title {
  margin: 0 0 27px;

  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.page-footer__form-field {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-bottom: 23px;
}

.page-footer__form-field:nth-of-type(2) {
  margin-bottom: 22px;
}

.page-footer__form-field:nth-of-type(3) {
  margin-bottom: 33px;
}

.page-footer__input {
  width: 100%;
  padding: 0;
  padding-bottom: 9px;

  font-weight: 200;
  color: white;

  background: transparent;
  border: transparent;
  border-bottom: 2px solid var(--color-blue);
  border-radius: 0;
  outline: none;

  transition: all 0.3s ease;

  cursor: pointer;
  resize: none;
}

.page-footer__label {
  margin-top: 9px;
  margin-bottom: 0;

  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #777777;
}

.page-footer__label--third {
  margin-top: 5px;

  letter-spacing: 0.7px;
}

.page-footer__label--fourth {
  letter-spacing: 0.7px;
}

.page-footer__label--fourth-desktop {
  display: none;
}

.page-footer__input:focus,
.page-footer__input:hover {
  border-bottom: 2px solid var(--color-white);

  transition: all 0.3s;
}

.page-footer__input::-moz-placeholder {
  font-size: var(--font-size-basic);
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: white;
}

.page-footer__input::-webkit-input-placeholder {
  font-size: var(--font-size-basic);
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: white;
}

.page-footer__button {
  width: 100%;
  max-width: 320px;
  margin-bottom: 5px;
  padding: 9px 60px 11px 59px;

  font-size: 16px;
  line-height: normal;
  color: white;

  background-color: var(--color-blue);
  border: transparent;
  outline: none;

  transition: all 0.3s ease;

  cursor: pointer;
}

.page-footer__button:hover {
  background-color: var(--color-red);
}

.page-footer__info-block {
  margin-bottom: 24px;
}

.page-footer__link-block {
  margin-bottom: 0;
  margin-top: 0;

  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.1px;
}

.page-footer__info-block:nth-of-type(3) {
  margin-bottom: 36px;
}

.page-footer__main {
  width: 60%;
  margin-top: 32px;
}

.page-footer__form {
  margin-bottom: 55px;
}

.page-footer__success {
  display: none;
  margin-bottom: 270px;
}

.page-footer__info-text {
  margin: 0;

  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #777777;
}

.page-footer__info-text--legal {
  display: flex;
  flex-direction: column;
}

.page-footer__link {
  font-size: 15px;
  line-height: 21px;
  color: white;
}

.page-footer__link--second {
  display: none;
}

.page-footer__link:hover {
  color: var(--color-red);

  transition: all 0.3s;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 140px;
  margin: 0;
  padding: 0;
}

.page-footer__social {
  max-width: 200px;
  margin-top: 34px;
}

.page-footer__social--desktop {
  display: none;
}

.page-footer__item {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 44px;

  background-image: url("../img/svg/icon-shield.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.page-footer__item:hover {
  background-image: url("../img/svg/icon-shield--white.svg");
}

.page-footer__social-link {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.page-footer__link--policy {
  font-size: 15px;
  font-weight: 300;
}

.page-footer__icon {
  width: 36px;
  height: 44px;

  fill: white;
}

.page-footer__icon--twitter {
  display: flex;
  width: 18px;
  height: 85%;
  margin: 0 9px;
}

.page-footer__item:hover .page-footer__icon {
  fill: var(--color-red);
}

.page-footer__designed {
  margin-top: 40px;

  letter-spacing: 0.7px;
}

.page-footer__link-symbol {
  display: none;
}

.page-footer__label--fourth--desktop {
  display: none;
}

.input-error {
  border-bottom: 2px solid red;
}

.error-message {
  display: none;

  color: red;
}

.error-message.active {
  display: block;
}

.error-message--server {
  margin: 0;
  margin-bottom: 16px;
  margin-top: -9px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
}

.page-footer__success-message {
  margin: 0;
  margin-bottom: 35px;

  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: normal;
  color: white;
}

.page-footer__amo {
  position: relative;

  width: 100%;

  overflow-x: scroll;
}

.page-footer__amo iframe {
  height: 430px !important;
  margin: 0 !important;
}

@media (min-width: 768px) {
  .page-footer {
    position: relative;
  }

  .page-footer__top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__header {
    width: 30%;
  }

  .page-footer__footer {
    margin-top: 70px;
  }

  .page-footer__wrapper {
    max-width: 855px;
    padding: 57px 23px 22px 21px;
  }

  .page-footer__title {
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -2.1px;
  }

  .page-footer__main {
    width: 60%;
    margin: 0;
    margin-top: 11px;
  }

  .page-footer__form-field:nth-of-type(1) {
    width: 100%;
    margin-bottom: 30px;
  }

  .page-footer__form-field:nth-of-type(2) {
    margin-bottom: 34px;
  }

  .page-footer__form-field:nth-of-type(3) {
    margin-bottom: 33px;
  }

  .page-footer__input--mail {
    max-width: 285px;
  }

  .page-footer__label {
    padding-left: 2px;
  }

  .page-footer__label--no-wrap {
    white-space: nowrap;
  }

  .page-footer__button-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .error-message--server {
    width: 100%;
  }

  .page-footer__button {
    max-width: 200px;
    max-height: 45px;
    margin: 0;
    margin-top: 10px;
  }

  .page-footer__success {
    max-width: 400px;
    margin: 0;
  }

  .page-footer__success-message {
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 32px;
  }

  .page-footer__button--success {
    padding: 9px 29px 11px 31px;
  }


  .page-footer__label--fourth {
    margin: 0;
    margin-top: 10px;

    line-height: 17px;
    letter-spacing: 0.1px;
  }

  .page-footer__link--policy {
    line-height: 17px;
  }

  .page-footer__link-block {
    max-width: 260px;
  }

  .page-footer__info {
    display: flex;
    flex-direction: column;
  }

  .page-footer__info-block:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 3;
    margin: 0;
  }

  .page-footer__info-block:nth-of-type(3) {
    margin-bottom: 35px;
  }

  .page-footer__social--mobile {
    display: none;
  }

  .page-footer__link--mobile {
    display: none;
  }

  .page-footer__link--desktop {
    display: block;
  }

  .page-footer__link-symbol {
    display: block;
  }

  .page-footer__info-text--legal {
    flex-direction: row;
  }

  .page-footer__info-text {
    letter-spacing: -0.1px;
  }

  .page-footer__info-block {
    margin-bottom: 35px;
  }

  .page-footer__social--desktop {
    display: block;
    margin-top: 20px;
    width: 400px;
    max-width: 400px;
  }

  .page-footer__info-block__wrapper {
    max-width: 300px;
  }

  .page-footer__designed {
    position: absolute;
    right: -22px;
    bottom: 90px;

    margin-top: 0;

    letter-spacing: -0.1px;

    transform: rotate(-90deg);
  }
}

@media (max-width: 768px) {
  .page-footer__main {
    width: 80%;
  }

  .page-footer__top-wrapper {
    display: block;
  }
}

@media (max-width: 640px) {
  .page-footer__main {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .page-footer__footer {
    margin-top: 50px;
  }

  .page-footer__wrapper {
    max-width: 970px;
    padding: 88px 79px 20px 74px;
  }

  .page-footer__form,
  .page-footer__form-field {
    max-width: 514px;
  }

  .page-footer__form-field {
    width: 514px;
  }

  .page-footer__label {
    margin-top: 11px;
    padding-left: 0;
  }

  .page-footer__label--third {
    margin-top: 7px;
  }

  .page-footer__form-field:nth-of-type(3) {
    margin-bottom: 29px;
  }

  .page-footer__label--fourth {
    margin-top: 13px;
  }

  .page-footer__label--fourth-desktop {
    display: block;
    margin-top: 17px;
    margin-right: 47px;

    font-size: 14px;
    letter-spacing: 0.52px;
  }

  .page-footer__button {
    margin-top: 15px;
  }

  .page-footer__info-text,
  .page-footer__link {
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  .page-footer__link--policy {
    font-size: 15px;
  }

  .page-footer__info-block {
    padding-left: 2px;
  }

  .page-footer__link {
    letter-spacing: 0.5px;
  }

  .page-footer__designed {
    right: -24px;
    bottom: 73px;
  }

  .page-footer__social--desktop {
    width: 514px;
    max-width: 514px;
  }
}

@media (min-width: 1920px) {
  .page-footer__wrapper {
    padding: 121px 415px 24px 520px;
  }

  .page-footer__social--desktop {
    margin-top: 17px;
  }

  .page-footer__info-block:nth-of-type(3) {
    margin-bottom: 30px;
  }

  .page-footer__designed {
    right: -22px;
    bottom: 66px;
  }

  .page-footer__footer {
    margin-top: 55px;
  }
}
