.page-missing {
  display: flex;
  align-items: center;
  height: calc(100vh - 2 * var(--body-border-width));
}

.page-missing__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.page-missing__title {
  position: relative;

  margin: 0;

  font-size: 46px;
  line-height: 48px;
  font-weight: 200;
}

.page-missing__title::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;

  width: 33px;
  height: 42px;

  background-size: cover;
  background-image: url("../../img/icon-logo-sign.png");
}

.page-missing__link {
  display: inline-block;
  width: 100%;
  max-width: 240px;
  margin-top: 10px;
  padding: 11px 0 14px 0;

  font-weight: 200;
  text-align: center;
  color: var(--color-white);

  background: var(--color-blue);
}

.page-missing__link:hover {
  color: var(--color-red);
}

@media (min-width: 1366px) {
  .page-missing__title {
    font-size: 70px;
    line-height: 71px;
  }

  .page-missing__link {
    padding: 0;

    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: var(--color-blue);

    background: transparent;
    border: transparent;
  }

  .page-missing__title::after {
    right: 0;
    left: unset;
  }

  .page-missing__wrapper {
    min-width: 400px;
  }
}
