.project-gallery {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 884px;

  @media (--mobileMax) {
    left: -10px;
    width: calc(100% + 20px);
    max-width: 280px;
  }
}

.project-gallery__tablet-wrapper {
  position: relative;
}

.project-gallery__tablet-wrapper::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 22px;
  right: 22px;
  border: 9px solid var(--color-black);
  pointer-events: none;
  cursor: pointer;

  @media (--mobileMax) {
    display: none;
  }
}

.project-gallery__tablet {
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  min-height: 500px;
  max-height: 501px;
  border: 18px solid var(--color-blue);
  border-radius: 16px;
  box-shadow: 0 0 0 9px var(--color-black);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: border-color 0.3s ease;

  @media (--mobileMax) {
    margin: 0;
    border-width: 10px;
    border-color: var(--color-black);
    border-radius: 8px;
    box-shadow: none;
  }
}

.project-gallery__tablet .simplebar-scroll-content {
  @media (--mobileMax) {
    overflow: hidden;
  }
}

.project-gallery__tablet:hover {
  border: 18px solid var(--color-red);

  @media (--mobileMax) {
    border: 10px solid var(--color-black);
  }
}

.project-gallery__tablet.scrollable {
  max-height: 501px;
  min-height: 500px;

  @media (--desktopMin) {
    max-height: 450px;
    min-height: 450px;
  }

  @media (--mobileMax) {
    max-height: 166px;
    min-height: 166px;
  }
}

.project-gallery__tablet img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project-gallery__mobile {
  position: absolute;
  top: 150px;
  left: -45px;
  cursor: pointer;

  @media (--desktopMin) {
    top: 80px;
    left: -40px;
  }

  @media (--mobileMax) {
    display: none;
  }
}

.project-gallery__mobile::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: -10px;
  right: -10px;
  top: -10px;
  background-color: var(--color-black);
  border-radius: 16px;
}

.project-gallery__mobile::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  width: 40px;
  height: 9px;
  background-color: var(--color-blue);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-gallery__mobile:hover::after {
  background-color: var(--color-red);
}

.project-gallery__mobile-inner {
  position: relative;
  width: 261px;
  height: 437px;
  border-radius: 10px;
  overflow: hidden;
}

.project-gallery__mobile img {
  display: block;
  width: 100%;
  height: auto;
}

.project-gallery--alternative {
  left: -55px;
  margin-bottom: -40px;

  @media (--desktopMin) {
    left: 0;
    margin-bottom: 0;
  }
}

.project-gallery--alternative .project-gallery__mobile {
  left: auto;
  right: -45px;

  @media (--desktopMin) {
    right: auto;
    left: -40px;
    z-index: 5;
  }
}

.higher {
  z-index: 5;
}
