.project-item {
  margin-bottom: 220px;

  @media (--desktopMin) {
    margin-bottom: 185px;
  }
}

.project-item__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 64px;
}

.project-item__info {
  flex: none;
  width: 54.739%;

  @media (--desktopMin) {
    width: 60%;
  }

  @media (--tabletMax) {
    flex-shrink: 1;
    box-sizing: border-box;
    padding-right: 20px;
    width: 55%;
  }
}

.project-item__time {
  flex: none;
  width: 24.494%;

  @media (--desktopMin) {
    width: 21.5%;
  }
}

.project-item__stack {
  flex: none;
  width: 20.767%;
}

.project-item__link {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--color-white);
  transition: text-shadow 0.3s ease;

  @media (--tabletMax) {
    display: block;
  }
}

.project-item__link:hover {
  text-shadow: -3px 3px 0 var(--color-red);
}

.project-item__link-icon {
  margin-left: 20px;
  width: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: text-shadow 0.3s ease;

  @media (--tabletMax) {
    margin-left: 0;
  }
}

.project-item__link:hover .project-item__link-icon {
  text-shadow: -6px 3px 0 var(--color-red);
}

.project-item__link-icon img {
  display: block;
  width: 100%;
  height: auto;
}

.project-item__descr {
  margin: 0;
  max-width: 455px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.project-item__label {
  display: block;
  margin: 6px 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  @media (--desktopMin) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.project-item__days {
  display: block;
  font-weight: 600;
  font-size: 72px;
  line-height: 64px;

  @media (--desktopMin) {
    font-size: 64px;
  }
}
