.projects {
  padding-bottom: 15px;
  color: var(--color-white);
  background-color: var(--color-blue);

  @media (--desktopMax) {
    padding-bottom: 28px;
  }

  @media (--desktopMin) {
    padding-bottom: 10px;
  }
}

.projects__wrapper {
  @media (--desktopMax) {
    padding-left: 130px;
    padding-right: 57px;
  }

  @media (--tabletMax) {
    padding-left: 57px;
    padding-right: 40px;
  }
}

.projects__title {
  margin: 0 0 78px;
  padding-top: 125px;
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -1px;

  @media (--desktopMin) {
    margin-bottom: 53px;
    padding-top: 85px;
    font-size: 50px;
    line-height: 64px;
  }
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
