.review-slide {
  position: relative;

  display: flex;
  min-height: 280px;
  margin-bottom: 44px;
  padding: 30px 55px;
  color: var(--color-white);

  background-color: var(--color-blue);

  box-sizing: border-box;

  @media (--tabletMax) {
    padding-right: 30px;
  }

  @media (--mobileMax) {
    display: block;
  }

  @media (--mobileMax) {
    min-height: 394px;

    margin-bottom: 25px;
    padding: 32px 60px 30px;
  }
}

.review-slide:first-child {
  @media (--mobileMax) {
    padding-left: 25px;
  }
}

.review-slide:last-child {
  @media (--mobileMax) {
    padding-right: 25px;
  }
}

.review-slide::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 44px 44px 0 0;
  border-color: var(--color-blue) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);

  @media (--mobileMax) {
    left: 51px;

    border-width: 25px 34px 0 0;
  }
}

.review-slide__content {
  flex-grow: 1;
  padding-right: 50px;

  box-sizing: border-box;

  @media (--mobileMax) {
    margin-bottom: 12px;
    padding-right: 25px;
  }
}

.review-slide__aside {
  flex: none;
  width: 166px;
}

.review-slide__client {
  display: none;
  margin: 0 0 4px;

  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.review-slide__text {
  margin: 0;

  font-size: 30px;
  font-weight: 300;
  line-height: 36px;

  @media (--desktopMin) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (--tabletMax) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (--mobileMax) {
    font-size: 18px;
    line-height: 24px;
  }
}

.review-slide__author {
  margin: 0 0 30px;
  padding-top: 8px;

  font-size: 14px;
  font-weight: 300;
  line-height: 21px;

  @media (--mobileMax) {
    margin-bottom: 20px;

    font-size: 15px;
  }
}

.review-slide__author .name {
  font-weight: 600;
}

.review-slide__file {
  color: var(--color-white);

  transition: text-shadow 0.3s ease;

  @media (--mobileMax) {
    display: flex;
  }
}

.review-slide__file:hover {
  text-shadow: -2px 2px 0 var(--color-red);
}

.review-slide__file-icon {
  display: block;
  margin-bottom: 5px;
  width: 29px;
  height: 36px;

  @media (--mobileMax) {
    margin-top: 3px;
    margin-right: 13px;
    margin-bottom: 0;
  }
}

.review-slide__file-icon svg {
  display: block;
  width: 100%;
  height: auto;
}

.review-slide__file-info {
  margin: 0;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  @media (--mobileMax) {
    font-size: 15px;
  }
}

.review-slide__file-info .size {
  display: block;
}
