.reviews {
  position: relative;

  background-color: var(--color-gray);
}

.reviews__wrapper {
  @media (--desktopMin) {
    padding-left: 134px;
  }

  @media (--tabletMax) {
    padding-left: 80px;
  }

  @media (max-width: 768px) {
    padding-left: 70px;
  }

  @media (--mobileMax) {
    padding-left: 23px;
    padding-right: 0;
  }
}

.reviews::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  width: calc(50% - 372px);

  background-image: linear-gradient(to right, var(--color-gray) 0%, var(--color-gray) 80%, rgba(255, 255, 255, 0) 100%);

  @media (--desktopMax) {
    width: calc(50% - 425px);
  }

  @media (--desktopMin) {
    width: 80px;
  }

  @media (max-width: 768px) {
    width: 70px;
  }

  @media (--mobileMax) {
    display: none;
  }
}

.reviews__title {
  max-width: 450px;
  margin: 0 0 90px;
  padding-top: 125px;

  font-size: 54px;
  font-weight: 600;
  line-height: 58px;

  @media (--desktopMax) {
    margin-bottom: 87px;
  }

  @media (--desktopMin) {
    margin-bottom: 70px;
    padding-top: 89px;
  }

  @media (--mobileMax) {
    max-width: 250px;
    margin-bottom: 40px;
    padding-top: 60px;

    font-size: 30px;
    line-height: 33px;
  }
}
