.review-slide {
  position: relative;

  display: flex;
  min-height: 280px;
  padding: 30px 55px;
  color: var(--color-white);

  box-sizing: border-box;

  @media (--tabletMax) {
    padding-right: 30px;
  }

  @media (--mobileMax) {
    display: block;
  }

  @media (--mobileMax) {
    min-height: 394px;

    padding: 32px 60px 30px;
  }
}

.review-slide:first-child {
  @media (--mobileMax) {
    padding-left: 25px;
  }
}

.review-slide:last-child {
  @media (--mobileMax) {
    padding-right: 25px;
  }
}

.review-slide__content {
  position: relative;
  flex-grow: 1;
  padding-right: 50px;
  overflow: hidden;

  box-sizing: border-box;

  @media (--mobileMax) {
    margin-bottom: 12px;
    padding-right: 25px;
  }
}

.review-slide__aside {
  position: relative;
  flex: none;
  width: 166px;
  overflow: hidden;
}

.review-slide__content:after,
.review-slide__aside:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-blue);
  transition: transform 0.5s ease;
}

.swiper-slide-active .review-slide__content:after,
.swiper-slide-active .review-slide__aside:after {
  transform: translateX(-100%);
}

.review-slide__client {
  display: none;
  margin: 0 0 4px;

  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.review-slide__text {
  margin: 0;

  font-size: 30px;
  font-weight: 300;
  line-height: 36px;

  @media (--desktopMin) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (--tabletMax) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (--mobileMax) {
    font-size: 18px;
    line-height: 24px;
  }
}

.review-slide__author {
  margin: 0 0 30px;
  padding-top: 8px;

  font-size: 14px;
  font-weight: 300;
  line-height: 21px;

  @media (--mobileMax) {
    margin-bottom: 20px;

    font-size: 15px;
  }
}

.review-slide__author .name {
  font-weight: 600;
}

.review-slide__file {
  color: var(--color-white);

  transition: text-shadow 0.3s ease;

  @media (--mobileMax) {
    display: flex;
  }
}

.review-slide__file:hover {
  text-shadow: -2px 2px 0 var(--color-red);
}

.review-slide__file-icon {
  display: block;
  margin-bottom: 5px;
  width: 29px;
  height: 36px;

  @media (--mobileMax) {
    margin-top: 3px;
    margin-right: 13px;
    margin-bottom: 0;
  }
}

.review-slide__file-icon svg {
  display: block;
  width: 100%;
  height: auto;
  -moz-user-select: none;
}

.review-slide__file-info {
  margin: 0;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  @media (--mobileMax) {
    font-size: 15px;
  }
}

.review-slide__file-info .size {
  display: block;
}
