.reviews-slider-wrapper {
  position: relative;
  margin-left: -56px;
  padding-left: 56px;
  padding-right: 56px;

  @media (--desktopMin) {
    padding-right: 39px;
  }
}

.reviews-slider-wrapper .swiper-button-prev,
.reviews-slider-wrapper .swiper-button-next {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  background-image: none;
  background-color: var(--color-red);
  border: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  pointer-events: initial;

  @media (--desktopMin) {
    left: 11px;
    width: 45px;
    height: 45px;
  }
}

.reviews-slider-wrapper .swiper-button-next {
  right: 86px;
  left: auto;

  @media (--desktopMin) {
    right: -6px;
  }
}

.reviews-slider-wrapper .swiper-button-prev.swiper-button-disabled,
.reviews-slider-wrapper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.reviews-slider-wrapper .swiper-button-prev:hover,
.reviews-slider-wrapper .swiper-button-next:hover {
  background-color: var(--color-black);
}

.reviews-slider-wrapper .swiper-button-prev .svg,
.reviews-slider-wrapper .swiper-button-next .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
