.step {
  position: relative;
  border-bottom: 2px solid #f0f0f0;
}

.step:nth-last-child(2),
.step:last-child {
  border-bottom: none;
}

.step:nth-last-child(2) {
  background-image: url("../img/div.png");
  background-repeat: repeat-x;
  background-size: auto 22px;
  background-position: bottom left;
}

.step:nth-last-child(2) .step__content {
  padding-bottom: 100px;

  @media (--mobileMax) {
    padding-bottom: 75px;
  }
}

.step:first-child .step__content {
  @media (--desktopMin) {
    padding-top: 80px;
  }

  @media (--mobileMax) {
    padding-top: 43px;
  }
}

.step:first-child .step__body {
  @media (--desktopMin) {
    margin-bottom: 60px;
    min-height: 133px;
  }

  @media (--mobileMax) {
    margin-bottom: 20px;
    min-height: 100px;
  }
}

.step:last-child .step__content {
  @media (--desktopMin) {
    padding-top: 88px;
    padding-bottom: 98px;
  }

  @media (--mobileMax) {
    padding-top: 42px;
    padding-bottom: 58px;
  }
}

.step:last-child .step__body {
  @media (--desktopMin) {
    min-height: 97px;
  }
}

.step::after {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -387px;
  width: 33px;
  height: 43px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  color: var(--color-white);
  background-image: url("../img/svg/icon-stack-small-b.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  z-index: 1;

  @media (--desktopMin) {
    left: 116px;
    margin-left: 0;
  }

  @media (--tabletMax) {
    left: 86px;
  }

  @media (--mobileMax) {
    left: 33px;
    width: 28px;
    height: 32px;
    line-height: 28px;
  }

  @media (--mobileMax) {
    left: 36px;
    top: 60px;
  }
}

.step__shield {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  margin-left: -370px;
  transform: translateX(-50%);
  width: 80px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;

  @media (--desktopMin) {
    left: 92px;
    transform: translateX(0);
    margin-left: 0;
  }

  @media (--tabletMax) {
    left: 62px;
  }

  @media (--mobileMax) {
    top: 32px;
    left: 10px;
    transform: scale(0.66, 0.66);
  }
}

.step__shield::before,
.step__shield::after {
  content: "";
  position: absolute;
  bottom: -1px;
}

.step__shield::before {
  right: calc(50% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 93px 0 0 161px;
  border-color: transparent transparent transparent #ffffff;
}

.step__shield::after {
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 93px 161px;
  border-color: transparent transparent #ffffff transparent;
}

.step__shield svg {
  display: block;
  width: 100%;
}

.step.current .step__shield {
  top: 70px;
  transform: translateX(-50%) scale(1.4, 1.4);

  @media (--desktopMin) {
    transform: scale(1.4, 1.4);
    top: 66px;
    left: 92px;
  }

  @media (--tabletMax) {
    left: 62px;
  }

  @media (--mobileMax) {
    left: 10px;
    top: 21px;
    transform: scale(0.66, 0.66);
  }
}

.step.current::after {
  top: 90px;

  @media (--mobileMax) {
    top: 49px;
  }
}

.step:first-child .step__content::before {
  top: 90px;

  @media (--mobileMax) {
    top: 77px;
  }
}

.step__wrapper {
  @media (--desktopMin) {
    padding-left: 130px;
    padding-right: 57px;
  }

  @media (--tabletMax) {
    padding-left: 100px;
    padding-right: 40px;
  }

  @media (--mobileMax) {
    padding-left: 48px;
    padding-right: 23px;
  }
}

.step__content {
  position: relative;
  box-sizing: border-box;
  padding-left: 113px;
  padding-top: 80px;
  padding-bottom: 77px;

  @media (--desktopMin) {
    padding-left: 115px;
    padding-bottom: 80px;
    padding-top: 75px;
  }

  @media (--tabletMax) {
    padding-left: 85px;
  }

  @media (--mobileMax) {
    padding-bottom: 42px;
    padding-left: 45px;
    padding-top: 42px;
  }
}

.step__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: -2px;
  width: 3px;
  background-color: var(--color-blue);

  @media (--desktopMin) {
    width: 6px;
  }

  @media (--mobileMax) {
    width: 4px;
  }
}

.step__body {
  display: flex;
  margin-bottom: 60px;
  min-height: 133px;

  @media (--desktopMin) {
    margin-bottom: 33px;
    min-height: 161px;
  }

  @media (--mobileMax) {
    display: block;
  }
}

.step__info {
  flex: none;
  width: 285px;

  @media (--tabletMax) {
    width: 240px;
  }

  @media (--mobileMax) {
    margin-bottom: 16px;
    width: 100%;
    max-width: 240px;
  }
}

.step__headline {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.7px;

  @media (--mobileMax) {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
  }
}

.step__descr {
  padding-top: 4px;
}

.step__time,
.step__text,
.step__result {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;

  @media (--mobileMax) {
    font-size: 15px;
    line-height: 21px;
  }
}

.step__text {
  max-width: 490px;
}

.step__result {
  max-width: 400px;
  font-weight: 600;
  color: var(--color-blue);

  @media (--desktopMin) {
    max-width: 440px;
  }
}
