.tabs-list {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: var(--color-red);

  list-style: none;

  @media (--mobileMax) {
    padding-bottom: 44px;
    background-color: var(--color-blue);
  }
}

.tabs-list__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;

  transition: opacity 0.3s ease;

  pointer-events: none;

  @media (--mobileMax) {
    position: static;

    margin-bottom: 32px;

    opacity: 1;

    pointer-events: initial;
  }
}

.tabs-list__item.active {
  position: static;

  opacity: 1;

  pointer-events: initial;
}
