.tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs-list__item {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.tabs-list__item.active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}
