.technologies__title {
  margin: 0 0 30px;

  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.9px;

  @media (--mobileMax) {
    margin-bottom: 13px;

    font-size: 20px;
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0 0 22px;
  padding: 0;

  list-style: none;

  @media (--mobileMax) {
    width: calc(100% + 24px);
    margin-bottom: 8px;
  }
}

.technologies-list__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 82px;
  margin-right: 44px;
  margin-bottom: 20px;

  background-image: url("../img/svg/icon-stack-big.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (--desktopMin) {
    margin-right: 33px;
  }

  @media (--mobileMax) {
    width: 47px;
    height: 60px;
    margin-right: 24px;
    margin-bottom: 18px;
  }
}

.technologies-list__item--nobg {
  background-image: none;
}

.technologies-list__item--nobg .technologies-list__item-icon {
  margin-bottom: 0;

  @media (--mobileMax) {
    transform: scale(1.05);
  }
}

.technologies-list__item-icon {
  flex: none;
  display: block;
  max-width: 96%;
  margin-bottom: 15px;

  @media (--mobileMax) {
    margin-bottom: 9px;

    transform: scale(0.7, 0.7);
  }
}

.technologies__label,
.technologies__text {
  max-width: 500px;
  margin: 0;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;

  @media (--mobileMax) {
    font-size: 15px;
    line-height: 21px;
  }
}

.technologies__label {
  font-weight: 600;

  @media (--mobileMax) {
    margin-bottom: 8px;
  }
}
