.video-block {
  position: relative;
}

.video-block video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.video-block__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 0;
  width: 88px;
  height: 88px;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  transition: opacity 0.3s ease 0.3s;

  @media (--mobileMax) {
    width: 59px;
    height: 59px;
  }
}

.video-block__btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 4px;
  fill: var(--color-pink);
  transition: fill 0.3s ease;

  @media (--mobileMax) {
    top: 42%;
    left: 42%;
    transform: scale(0.7, 0.7) translate(-50%, -50%);
    transform-origin: center;
  }
}

.video-block__btn:hover svg,
.video-block__btn:focus svg {
  fill: var(--color-black);
}

.video-block.playing .video-block__btn {
  opacity: 0;
}

.video-block.playing .video-block__btn svg {
  opacity: 0;
}

.video-block.playing .video-block__btn::before,
.video-block.playing .video-block__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 10px;
  background-color: var(--color-red);
}

.video-block.playing .video-block__btn::before {
  right: 55%;
}

.video-block.playing .video-block__btn::after {
  left: 55%;
}

.video-block.playing:hover .video-block__btn::before,
.video-block.playing:hover .video-block__btn::after {
  background-color: var(--color-black);
}

.video-block.playing:hover .video-block__btn {
  opacity: 1;
}
