.video-block {
  position: relative;
}

.video-block__btn {
  all: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  background-color: var(--color-white);
}
