.work__content {
  @media (--desktopMin) {
    box-sizing: border-box;
    padding-left: 50px;
  }
}

.work__title {
  margin: 0 0 82px;
  padding-top: 127px;
  font-weight: 600;
  font-size: 54px;
  line-height: 58px;

  @media (--desktopMin) {
    margin-bottom: 58px;
    padding-top: 87px;
  }
}

.work__descr {
  margin: 0 0 40px;
  max-width: 710px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;

  @media (--desktopMin) {
    margin-bottom: 20px;
  }
}
