.work__content {
  @media (--desktopMin) {
    padding-left: 50px;

    box-sizing: border-box;
  }

  @media (--tabletMax) {
    padding-left: 20px;
  }

  @media (max-width: 768px) {
    padding-left: 28px;
  }

  @media (--mobileMax) {
    padding-left: 0;
  }
}

.work__title {
  margin: 0 0 82px;
  padding-top: 127px;

  font-size: 54px;
  font-weight: 600;
  line-height: 58px;

  @media (--desktopMin) {
    margin-bottom: 58px;
    padding-top: 87px;
  }

  @media (--mobileMax) {
    margin-bottom: 25px;
    padding-top: 58px;

    font-size: 30px;
    line-height: 33px;
  }
}

.work__descr {
  max-width: 710px;
  margin: 0 0 40px;

  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;

  @media (--desktopMin) {
    margin-bottom: 20px;
  }

  @media (--mobileMax) {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 24px;
  }
}
